---
import Link from "./Link.astro"
import Skill from "./Skill.astro"
import Skills from "./Skills.astro"

type Props = {
  prInfo: (typeof import("../data/pullRequests.json"))[number]
}

const { project, name, link, date, skills, description } = Astro.props.prInfo
---

<article class="px-4 py-2 border border-zinc-300 rounded-md flex flex-col gap-y-2 dark:border-zinc-600">
  <header>
    <h3 class="text-2xl">
      {project}: <Link href={link} target="_blank">
        <svg class="inline-block" width="24" height="24" viewBox="0 0 24 24">
          <use href={`${import.meta.env.BASE_URL}/icons.svg#merge`} />
        </svg>{name}
      </Link>
    </h3>
    <div class="flex items-center gap-1">
      <svg width="20" height="20" viewBox="0 0 24 24">
        <use href={`${import.meta.env.BASE_URL}/icons.svg#calendar`} />
      </svg>
      <time datetime={date}>{date.replaceAll("-", "/")}</time>
    </div>
    <Skills class="mt-2">
      {skills.map(skill => <Skill>{skill}</Skill>)}
    </Skills>
  </header>
  <main>{description}</main>
</article>